body {
    margin: auto;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(assets/emon.png) no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

#timer {
    font-family: "Tahoma";
    font-size: 1.1em;
    position: absolute;
}

#awo { 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100; 
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 1rem;
    width: 33%;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}

#awo button { 
    display: block;
    width: 80%;
    padding: .4rem;
    border: none; 
    margin: 1rem auto; 
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px; 
    cursor: pointer;
    transition: .3s background;
}

#awo button:hover { 
    background: rgba(0,0,0,0.5);
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background:rgba(0,0,0,0.5);
    padding: .5rem;
    transition: .6s background; 
}

a:hover{
    background:rgba(0,0,0,0.9);
}

@media (max-width: 800px) {
    html { background: url(../assets/awo.png) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
    h1 { font-size: 1.6em; }
    #timer { font-size:0.8em; }
    iframe { width: 180px; }
}

@media (max-width: 400px) {
    h1 { font-size: 1em; }
    iframe { width: 110px; }
}